
.skill-progress-bar{
    height: 10px;
}

.contour{
    border: 1px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.section-title-skill { 
  border: none;
  border-top: 3px solid #0d6efd; 
  width: 530px; 
  margin-top: 1rem;
  opacity: 1;  
}